/*BITE*/

/*GENERAL*/
* {

}

body {
margin: 0 auto;
overflow-x: hidden;
}

/*HEADER*/
header{
  margin-left: 0;
  margin-right: 0;
  background-color: #f2ff23;

}



.banner {
  margin: 0 auto;

}

/*NAVBAR*/





/*FOOTER*/

footer{
  width: auto;
  margin: 0 auto;
  color: white;
  background-color: grey;
  padding-top: 15px;
}

footer div {
  margin: 0 auto;
  align-content: center;
  text-align: center;
}

footer .col{
}

.logofoot{
  max-width: 100px;
  max-height: auto;
}

fab{
  display: inline-block;
  margin-right: 10px;
}

#twitter a{
  text-decoration: none;
  color: white;
  font-size: 34px;
}
#twitter a:hover{
  color: #f2ff23;
}

#insta a{
  text-decoration: none;
  color: white;
  font-size: 34px;
}
#insta a:hover{
  color: #f2ff23;
}

#fb a{
  text-decoration: none;
  color: white;
  font-size: 34px;
}
#fb a:hover{
  color: #f2ff23;
}
