

/*GENERAL*/
* {
  text-decoration: none;
}

a {

}

body {
margin: 0 auto;
overflow-x: hidden;
background-color: #FFF8DC;
}

h3{
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Titillium Web', sans-serif;
}

/*HEADER*/
header{
  margin-left: 0;
  margin-right: 0;
  background-color: #f2ff23;

}

a.navbar-brand{
  font-family: 'Permanent Marker', cursive;
}

.nav-link{
  font-family: 'Titillium Web', sans-serif;
}
.dropdown-item{
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
.dropdown-item:hover{
  background-color: black;
  color: white;
}
.banner {
  margin: 0 auto;

}

/*CAROUSEL*/
#carouselExampleIndicators{
  margin: 0 auto;
  height: 70%;
  width: 70%;
  margin-top: 2em;
  margin-bottom: 2em;
}
/*Card*/
    /*index card est une div englobante*/
.card-title{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.index-card div{
  width: auto;
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-top: 1em;
}

.index-card .btn:hover{
  color: black;
}

.index-card .card-text{
  font-style: italic;
  opacity: 0.8;
}
.card-body{
  padding-top: 0px;
}


/*FOOTER*/

footer{
  width: auto;
  margin: 0 auto;
  color: white;
  background-color: #343a40;
  padding-top: 15px;
  margin-top: 2em;
}

footer div {
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-left: 25px;
}

footer .row{

}

.logofoot{
  max-width: 100px;
  max-height: auto;
}

.fab{
  display: inline-block;
  margin-right: 20px;
}

#twitter a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#twitter a:hover{
  color: lightskyblue;
}

#insta a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#insta a:hover{
  color: lightcoral;
}

#fb a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#fb a:hover{
  color: royalblue;
}
div .col a{
  text-decoration: none;
  color: white;
}

div .col a:hover{
  color: lightcoral;
}

/*ARTICLE PAGE*/

.page-nav nav{
  width: auto;
  margin: 0 auto;
  margin-top: 2em;
}
