

/*GENERAL*/
* {

}

body {
margin: 0 auto;
overflow-x: hidden;
}

h3{
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Titillium Web', sans-serif;
}

/*HEADER*/
header{
  margin-left: 0;
  margin-right: 0;
  background-color: #f2ff23;

}

a.navbar-brand{
  font-family: 'Permanent Marker', cursive;
}

.nav-link{
  font-family: 'Titillium Web', sans-serif;
}

.banner {
  margin: 0 auto;

}

/*NAVBAR*/





/*FOOTER*/

footer{
  width: auto;
  margin: 0 auto;
  color: white;
  background-color: grey;
  padding-top: 15px;
}

footer div {
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-left: 25px;
}

footer .row{
  margin-bottom: 20px;
}

.logofoot{
  max-width: 100px;
  max-height: auto;
}

.fab{
  display: inline-block;
  margin-right: 20px;
}

#twitter a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#twitter a:hover{
  color: #f2ff23;
}

#insta a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#insta a:hover{
  color: #f2ff23;
}

#fb a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#fb a:hover{
  color: #f2ff23;
}
